@model ThAmCo.Events.Models.VenuesGetViewModel

@{
    ViewData["Title"] = "GetVenues";
}

<h2>GetVenues</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>
    </dl>
    <partial name="_AvailableVenues" model=@Model.Venues />
</div>

<form asp-action="GetVenues" id="venueForm">
    <div class="form-group">
        <input type="hidden" id="toReserve" name="toReserve" value="FDLCK" />
        <input type="submit" value="GetVenues" class="btn btn-default" />
    </div>
</form>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(document).ready(function(){
    $('#venueForm').submit(function(e){
    var ven = $('input[name="reserved"]:checked').val();
    $('#toReserve').val(ven);
    });
    });
</script>
}